## 關聯式資料庫
* 由資料表(Table)、紀錄(Record)、欄位(Field)以及資料(Data)組成
* 資料彼此間具有相互關聯的特性
* 不同的資料表間，可透過特定欄位將資料串起來
* 藉由正規化(Normalization)方法，將資料做最有效率的儲存， 避免重複的資料存在不同資料表中
* 常見的關聯式資料庫有：
    * SQLite
    * MySQL
    * PostgreSQL
    * MariaDB
    * Microsoft SQL Server
    * Oracle Database
    * DB2

## SQL語法
* SQL 以 keyword 關鍵字、資料表(table)名稱和欄位(column)名稱當作一段完整語句
* SQL 語法使用分號 ; 當作結尾
* 文字母不區分大小寫，單字間使用空白分隔
* 避免特殊字元的方法：資料如果為文字需要加上單引號''。資料庫名稱、資料表名稱或欄位名稱可以用 \` 前後框起來，避免特殊單字影響 SQL 指令運行。 \` 和 ' 容易混淆，判斷技巧：從資料庫裡面讀出來的資料用 \` ，從外面要存進去的資料用 ' 。例如 UPDATE \`test\` SET \`name\`='muse', \`age\`=30, \`job\`='designer' WHERE \`id\`=5
* SQL語言分類：
    * DDL(Data Definition Language)：建立或刪除資料庫和資料表等用來儲存的單位。包括CREATE:建立資料庫的物件、ALTER:變更資料庫的物件、DROP:刪除資料庫的物件
    * DML(Data Manipulation Language)：查詢或修改資料表的紀錄。包括INSERT:新增資料到資料表中、UPDATE:更改資料表中的資料、DELETE:刪除資料表中的資料
    * DQL(Data Query Language)：包括SELECT:查詢資料表中的資料
    * DCL(Data Control Language)
    
### (1) CREATE 新建資料庫/資料表
**CREATE DATABASE 資料庫名稱 COLLATE 編碼;** \
範例1：CREATE DATABASE test COLLATE utf8mb4_unicode_ci;\
範例2：CREATE DATABASE test COLLATE utf8_general_ci;

**CREATE TABLE 資料表(
column1 datatype,
column2 datatype, column3 datatype, .....
columnN datatype, );**\
範例：CREATE TABLE IF NOT EXISTS book (\
    id int(10) PRIMARY KEY NOT NULL AUTO_INCREMENT,\
    date varchar(8) NOT NULL,\
    books varchar(128) NOT NULL,\
    isbn varchar(16) NOT NULL,\
    price int(5) NOT NULL\
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

常見資料類型：
- INT
- VARCHAR(M)：動態長度，用在不確定但有限度的字數上。M 代表字元數而非 bytes，M 的值為 0 ~ 65,535。不同字元集(character set)佔的空間不同，UTF-8 一個字元要佔用 4 bytes，所以 VARCHAR(10) 會佔 40 bytes
- TEXT：需要儲存極大量文字時使用 (不確定字數且無限度的字數)
- DATE：格式：'YYYY-MM-DD'。支援範圍：'1000-01-01' ~ '9999-12-31'
- BLOB：可儲存大量資料，例如圖片，0 ~ 65535 bytes
- CHAR(M)：固定長度，空白字元填充。M 標示字元數而非 bytes，M 的值為 0 ~ 255


### (2) INSERT 新增資料
**INSERT INTO資料表名稱 (欄位1, 欄位2, ...) VALUES (值1, 值2, ...);**\
範例：INSERT INTO book (date, books, isbn, price) VALUES ('20181130','從零開始學 Python 程式設計', '9789864343492', 580);

### (3) UPDATE 更新資料
**UPDATE 資料表名稱 SET 欄位1 = 新值1, 欄位2 = 新值2 WHERE 篩選條件;**\
範例：UPDATE book SET price = 320, isbn = '4789884760333' WHERE id = 2;

### (4) ALTER 修改資料表結構(針對已建立資料表，新增或刪除欄位)
**ALTER TABLE 資料表名稱 ADD/DROP 欄位名稱;**\
範例1：新增欄位：ALTER TABLE book ADD isbn varchar(16) COLLATE utf8_unicode_ci default "";\
範例2：刪除欄位：ALTER TABLE book DROP isbn;

### (5) SELECT 查詢資料
**SELECT 欄位名稱 FROM 資料表名稱 WHERE 篩選條件 ORDER BY 排序欄位 排序方式;**\
範例1：SELECT * FROM book;\
範例2：SELECT isbn, books FROM book;\
範例3：SELECT isbn FROM book where price >= 500;\
範例4：SELECT * FROM book ORDER BY price DESC;\
範例5：SELECT * FROM book ORDER BY price DESC LIMIT 0,3;\
範例6：SELECT COUNT(*) FROM book;\
其他篩選條件：IN (), NOT IN (), LIKE '%值%', NOT LIKE '%值%',  BETWEEN 值1 AND 值2

### (6) DELETE 刪除資料
**DELETE FROM 資料表名稱 WHERE 篩選條件;**\
範例1：DELETE FROM book WHERE id = 1;\
範例2：DELETE FROM book WHERE isbn = '9789864762729';

### (7) DROP 刪除資料庫/資料表
**DROP DATABASE/TABLE 資料庫/資料表名稱;**\
範例1：刪除資料庫：DROP DATABASE test; \
範例2：刪除資料表：DROP TABLE book;

## Python 讀取 MySQL 流程
![資料庫流程](img/資料庫流程.png)

**第一種方式：Python ——> [pymysql](https://github.com/PyMySQL/PyMySQL) ——> MySQL**
1. 安裝套件：pip install pymysql
2. 下載安裝 [XAMPP](https://www.apachefriends.org/zh_tw/download.html)，開啟 Apache 和 MySQL，打開 [phpmyadmin](http://localhost/phpmyadmin/)
3. import pymysql，跑以下程式碼

**第二種方式：Python ——> pyodbc ——> MySQL Connector/ODBC ——> MySQL**
1. 安裝套件：pip install pyodbc
2. 下載安裝 [MySQL ODBC Driver](https://dev.mysql.com/downloads/connector/odbc/)
3. 下載安裝 [ODBC Manager](http://www.odbcmanager.net/)
4. import pyodbc，跑以下程式碼

**其他：Python 操作 SQLite**
1. 下載安裝 [sqlitebrowser](https://sqlitebrowser.org/dl/)
2. import sqlite3，跑以下程式碼

## 一、透過 pymysql 操作 MySQL

In [ ]:
import pymysql
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [ ]:
con = pymysql.connect(host = "localhost",
                    user = "root",
                    password = "",
                    database = "test",
                    port = 3306)
cur = con.cursor()


# 如果要存資料進資料庫才要帶入 data 參數，為 list 或 dict 格式
# sql 中需設定對應的 %s 來帶入 list 資料，dict 則需要設定 %(索引名)s
# cur.execute(sql, data)

#如果是新增、刪除或修改指令需再執行
# con.commit()

### 1.1 CREATE 新建資料表

In [ ]:
try:
    sql = """CREATE TABLE IF NOT EXISTS book (
        id int(10) PRIMARY KEY NOT NULL AUTO_INCREMENT,
        date varchar(8) NOT NULL,
        books varchar(128) NOT NULL,
        isbn varchar(16) NOT NULL,
        price int(5) NOT NULL
    )ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;"""
    cur.execute(sql)
except Exception as e:
    print("異常發生:{}".format(e))
    con.rollback()
    
cur.close()
con.close()

### 1.2 INSERT 新增資料

In [ ]:
date = "20181130"
books = '從零開始學 Python 程式設計'
isbn = '9789864343492'
price = 580

sql = "INSERT INTO book (date, books, isbn, price) VALUES (%s, %s, %s, %s);"
# data2 = {'date':'','books':'33','isbn':'32ddwdqwdwed','price':'2022-10-01'}    # dict 格式的資料也可以新增進去
# sql2 = "INSERT INTO book (date, books, isbn, price) VALUES (%(date)s, %(books)s, %(isbn)s, %(price)s)"
# cur.execute(sql2, data2)

try:
    cur.execute(sql, (date, books, isbn, price))
    con.commit()
except Exception as e:
    print("異常發生:{}".format(e))
    con.rollback()
    
cur.close()
con.close()

In [ ]:
con = mysql.connect(host = "localhost",
                    user = "root",
                    password = "",
                    database = "test",
                    port = 3306,
                    cursorclass = pymysql.cursors.DictCursor)

data = ["20181130", '從零開始學 Python 程式設計', '9789864343492', 580]

with con:
    with con.cursor() as cur:
        sql = "INSERT INTO `book` (`date`, `books`, `isbn`, `price`) VALUES (%s, %s, %s, %s);"
        cur.execute(sql, data)
    con.commit()
    
    with con.cursor() as cur:
        sql = "SELECT `id`, `password` FROM `users` WHERE `email`=%s"
        cursor.execute(sql, ('webmaster@python.org',))
        result = cursor.fetchone()
        print(result)

### 1.2 INSERT 同時新增多筆資料

In [ ]:
books = [( '20171221', 'Python 入門邁向高手之路王者歸來', '9789865000592', 699),
         ( '20180904', 'Python 程式設計入門：金融商管實務案例, 3/e', '9789864343300', 550),
         ( '20190815', 'Python 最強入門邁向頂尖高手之路：王者歸來', '9789869807241', 1000),
         ( '20190705', '超圖解 Python 程式設計入門', '9789863125952', 650),
         ( '20161229', 'Python 自動化的樂趣｜搞定重複瑣碎 & 單調無聊的工作', '9789864762729', 500),
         ( '20190325', 'Python零基礎入門班：打好程式設計、運算思維與邏輯訓練基本功', '9789865020798', 390),
         ( '20190806', '秋聲教你玩Python：給挑戰者的修行之路', '9789864344147', 450),
         ( '20161102', 'Python 程式設計超入門', '9789863123798', 420),
         ( '20160630', 'Python 程式設計入門指南', '9789864760527', 520),
         ( '20170421', '學會 Python：從不懂，到玩上手', '9789863124245', 550)
        ] 

sql = "INSERT INTO book (date, books, isbn, price) VALUES (%s, %s, %s, %s);"

try:
    cur.executemany(sql, books)
    con.commit()
except Exception as e:
    print("異常發生:{}".format(e))
    con.rollback()
    
cur.close()
con.close()

### 1.3 UPDATE 更新資料

In [ ]:
sql = "UPDATE book SET price = %s WHERE id = %s;"
# data2 = {'price': 300, 'isbn':'4581825020733', 'id':'1'}        # dict 格式的資料也可以更新進去
# sql2 = "UPDATE news SET price=%(price)s, isbn=%(isbn)s WHERE id=%(id)s"
# cur.execute(sql2, data2)

try:
    cur.execute(sql, (799, 6))
    con.commit() 
except Exception as e:
    print("異常發生:{}".format(e))
    con.rollback

cur.close()
con.close()

### 1.4 SELECT 查詢資料

In [ ]:
with con:
    with con.cursor() as cur:
        sql = "SELECT * FROM book;"
        cur.execute(sql)
        result = cur.fetchall()
        count = cur.rowcount    # 總共的資料筆數
        print(result)

In [ ]:
sql = "SELECT * FROM book;"
cur.execute(sql)
result = cur.fetchall()        # fetchall() 返回的是 tuple 格式，fetchone() 只取結果第一筆資料
df = pd.DataFrame(result)
    
cur.close()
con.close()

### 1.4 使用 Pandas 讀取 MySQL

In [ ]:
con = mysql.connect(host = "localhost",
                    user = "root",
                    password = "",
                    database = "test",
                    port = 3306,
                    cursorclass = pymysql.cursors.DictCursor)

sql = "SELECT * FROM book"
df = pd.read_sql(sql, con = con)

### 1.5 DELETE 刪除資料

In [ ]:
sql = "DELETE FROM book WHERE id = %s;"

try:
    cur.execute(sql, (3, ))
    con.commit()
    
except Exception as e:
    print("異常發生:{}".format(e))
    con.rollback()
    
cur.close()
con.close()

### 1.6 DROP 刪除資料表

In [ ]:
sql = "DROP TABLE IF EXISTS book;"
cur.execute(sql)

cur.close()
con.close()

## 二、Python 操作 SQLite

In [ ]:
import sqlite3 as lite
import pandas as pd

### 2.1 CREATE 新建資料表

In [ ]:
con = lite.connect("test.sqlite")
cur = con.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS book(id int primary key, date text, books text, isbn text, price int)")
cur.close()
con.close()

### 2.2 INSERT 新增資料

In [ ]:
con = lite.connect("test.sqlite")
cur = con.cursor()

date = "20181130"
books = '從零開始學 Python 程式設計'
isbn = '9789864343492'
price = 580
sql = "INSERT INTO book (date, books, isbn, price) VALUES ('{}','{}', '{}', '{}');".format(date, books, isbn, price)

try:
    cur.execute(sql)
#     cur.execute("INSERT INTO book (date, books, isbn, price) VALUES (?,?,?,?);", (date, books, isbn, price))
    con.commit()
except Exception as e:
    print("異常發生:{}".format(e))
    con.rollback()

cur.close()
con.close()

### 2.2 INSERT 同時新增多筆資料

In [ ]:
import booklist

con = lite.connect("test.sqlite")
cur = con.cursor()
books = booklist.getbooklist()

try:
    cur.executemany("INSERT INTO book (date, books, isbn, price) VALUES (?,?,?,?);", books)
    con.commit()
except Exception as e:
    print("異常發生:{}".format(e))
    con.rollback()
    
cur.close()
con.close()

### 2.3 UPDATE 更新資料

In [ ]:
con = lite.connect("test.sqlite")
cur = con.cursor()
sql = "UPDATE book SET price = ? WHERE id = ?;"

try:
    cur.execute(sql, (600, 1))
    con.commit() 
except Exception as e:
    print(e)
    con.rollback

cur.close()
con.close()

### 2.4 SELECT 查詢資料

In [ ]:
con = lite.connect("test.sqlite")
cur = con.cursor()
result = cur.execute("SELECT * FROM BOOK;")
for row in result:
    print(row[1], row[2], row[3], row[4])
cur.close()
con.close()

### 2.4 使用 Pandas 讀取 SQLite

In [ ]:
with lite.connect('test.sqlite') as con:
    df = pd.read_sql_query('SELECT * FROM book;', con)
df.head()

### 2.5 DELETE 刪除資料

In [ ]:
con = lite.connect("test.sqlite")
cur = con.cursor()
sql = "DELETE FROM book WHERE id = ?;"

try:
    cur.execute(sql, (2, ))
    con.commit() 
except Exception as e: #異常處理
    print("異常發生:{}".format(e))
    con.rollback()
    
cur.close()
con.close()

### 2.6 DROP 刪除資料表

In [ ]:
con = lite.connect("test.sqlite")
cur = con.cursor()
cur.execute("DROP TABLE book;")
cur.close()
con.close()

### 重要補充1：使用 Pandas 整批寫入 SQLite

In [ ]:
import booklist

books = booklist.getbooklist()
df = pd.DataFrame(books)

with lite.connect("test.sqlite") as con:
    df.to_sql(name ='book', con = con, if_exists='replace')